.card{
    background-color: white;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.inputs{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap:25px;
   
    
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 350px;
    height: 50px;
    background-color: #eaeaead3;
    border-radius: 6px;
    border: none;
    outline: none;
}
.input input{
    height: 20px;
    background:transparent;
    border: none;
    outline: none;
    font-size: 18px;
}
.forget-password span{
   color: #4c00b4;
   cursor: pointer;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    color: #fff;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin: 0px auto;

}